<div class="flex flex-col items-stretch" *ngIf="(loading$ | async) === false; else loaderContainer">
    <img src="assets/images/logo.png" class="rounded-xl h-16 w-16 block md:hidden" alt="Hoppy" />
    <div class="text-primary text-4xl font-bold leading-tight tracking-tight mt-6 md:mt-0">
        {{ 'auth.login.title' | translate }}
    </div>
    <div class="text-gray-400">
        {{ 'auth.login.subtitle' | translate }}
    </div>
    <div class="text-sm text-red-500 mt-4" *ngIf="error">
        {{ error }}
    </div>
    <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="login()">
        <app-text-field name="email" type="email" autocomplete="email" [required]="true"></app-text-field>
        <app-password-field name="password" autocomplete="current-password" class="mt-2 block"></app-password-field>
        <div class="flex items-center justify-between w-full mt-2">
            <app-checkbox name="rememberMe">
                {{ 'auth.login.rememberMe' | translate }}
            </app-checkbox>
        </div>
        <button
            mat-flat-button
            type="submit"
            color="primary"
            class="mt-6 w-full mat-button-large"
            [disabled]="loginForm.invalid"
        >
            {{ 'auth.login.action' | translate }}
        </button>
    </form>
    <span class="text-gray-400 text-sm text-center mt-4"
        ><a class="primary-link" routerLink="/auth/forgot-password">{{
            'auth.login.forgotPassword' | translate
        }}</a></span
    >
</div>

<ng-template #loaderContainer>
    <mat-spinner color="primary" class="m-auto" [diameter]="40"></mat-spinner>
</ng-template>
