<div class="dialog-header">
    {{ 'user.activate.title' | translate }}
    <button mat-icon-button mat-dialog-close type="button">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="dialog-body">
    <app-callout icon="info" type="info">
        {{ 'user.activate.warning' | translate }}
    </app-callout>
    <div class="input-container">
        <div class="input-label">
            {{ 'input.account' | translate }}
        </div>
        <div class="input-static-value">
            {{ user.email }}
        </div>
    </div>
</div>
<div class="dialog-actions">
    <button mat-flat-button mat-dialog-close type="button">
        {{ 'button.cancel' | translate }}
    </button>
    <button mat-flat-button color="primary" type="button" (click)="activate()">
        {{ 'button.activate' | translate }}
    </button>
</div>
<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
