<div class="navigation-wrapper">
    <div class="navigation-header">
        <div class="flex items-center p-6 pb-0">
            <img src="assets/images/logo.png" alt="Hoppy" class="h-14 w-14 rounded-xl" />
        </div>
    </div>
    <div class="navigation-content">
        <app-navigation-group [title]="'navigation.dashboard.title' | translate">
            <app-navigation-item
                icon="home"
                link="/dashboard"
                [label]="'navigation.dashboard.title' | translate"
            ></app-navigation-item>
        </app-navigation-group>
        <app-navigation-group [title]="'navigation.beers.title' | translate">
            <app-navigation-item
                icon="sports_bar"
                link="/beers"
                [label]="'navigation.beers.list' | translate"
                [exact]="true"
            ></app-navigation-item>
            <app-navigation-item
                icon="palette"
                link="/beers/colors"
                [label]="'navigation.beers.colors' | translate"
            ></app-navigation-item>
        </app-navigation-group>
        <app-navigation-group [title]="'navigation.users.title' | translate">
            <app-navigation-item
                icon="people"
                link="/users"
                [label]="'navigation.users.title' | translate"
            ></app-navigation-item>
        </app-navigation-group>
        <app-navigation-group [title]="'navigation.settings.title' | translate">
            <app-navigation-item
                icon="settings"
                link="/settings"
                [label]="'navigation.settings.title' | translate"
            ></app-navigation-item>
            <app-navigation-item
                icon="logout"
                link="/auth/logout"
                [label]="'navigation.settings.logout' | translate"
            ></app-navigation-item>
        </app-navigation-group>
    </div>
    <div class="navigation-footer"></div>
</div>
