<div class="navigation-wrapper">
    <div class="navigation-header">
        <div class="flex items-center p-6 pb-0">
            <img src="assets/images/logo.png" alt="Hoppy" class="h-14 w-14 rounded-xl" />
        </div>
    </div>
    <div class="navigation-content">
        <app-navigation-group [title]="'navigation.dashboard.title' | translate" subtitle="test">
            <app-navigation-item icon="home" label="Dashboard" link="/dashboard"></app-navigation-item>
        </app-navigation-group>
        <app-navigation-group [title]="'navigation.beers.title' | translate">
            <app-navigation-item icon="home" label="Liste" link="/beers"></app-navigation-item>
        </app-navigation-group>
        <app-navigation-group [title]="'navigation.users.title' | translate"></app-navigation-group>
        <app-navigation-group [title]="'navigation.settings.title' | translate">
            <app-navigation-item
                icon="settings"
                link="/settings"
                [label]="'navigation.settings.title' | translate"
            ></app-navigation-item>
            <app-navigation-item
                icon="logout"
                link="/auth/logout"
                [label]="'navigation.settings.logout' | translate"
            ></app-navigation-item>
        </app-navigation-group>
    </div>
    <div class="navigation-footer"></div>
</div>
