:host {
    @apply relative flex flex-auto w-full;
}

app-navigation {
    position: sticky;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    top: 0;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 200;
    margin-left: -280px;

    @apply bg-gray-900;

    &.opened {
        margin-left: 0;
    }
}
