<div class="flex flex-col items-stretch" *ngIf="(loading$ | async) === false; else loaderContainer">
    <img src="assets/images/logo.png" class="rounded-xl h-16 w-16 block md:hidden" alt="Hoppy" />
    <ng-container *ngIf="!email; else emailSentContainer">
        <div class="text-primary text-3xl font-bold leading-tight tracking-tight mt-6 md:mt-0">
            {{ 'auth.forgotPassword.title' | translate }}
        </div>
        <div class="text-gray-400 text-sm">
            {{ 'auth.forgotPassword.subtitle' | translate }}
        </div>
        <form class="mt-4" [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
            <app-text-field name="email" type="email" autocomplete="email" [required]="true"></app-text-field>
            <button
                mat-flat-button
                type="submit"
                color="primary"
                class="mt-6 w-full mat-button-large"
                [disabled]="forgotPasswordForm.invalid"
            >
                {{ 'auth.forgotPassword.action' | translate }}
            </button>
        </form>
        <span class="text-gray-400 text-sm text-center mt-4"
            >{{ 'auth.forgotPassword.login.0' | translate }}
            <a class="primary-link" routerLink="/auth/login">{{ 'auth.forgotPassword.login.1' | translate }}</a></span
        >
    </ng-container>
    <ng-template #emailSentContainer>
        <div class="text-primary text-3xl font-bold leading-tight tracking-tight mt-6 md:mt-0">
            {{ 'auth.forgotPassword.emailSent.title' | translate }}
        </div>
        <div class="text-gray-400 text-sm">
            {{ 'auth.forgotPassword.emailSent.subtitle' | translate }}
        </div>
        <div class="flex flex-col items-center mt-8">
            <span class="text-gray-400 text-sm mb-2">{{ 'auth.forgotPassword.emailSent.redirect' | translate }}</span>
            <mat-spinner color="primary" [diameter]="30"></mat-spinner>
        </div>
    </ng-template>
</div>

<ng-template #loaderContainer>
    <mat-spinner color="primary" class="m-auto" [diameter]="40"></mat-spinner>
</ng-template>
