.shattered-pattern {
    background-image: url("/assets/images/patterns/shattered.png");
    background-repeat: repeat;
}

.geometry-pattern {
    background-image: url("/assets/images/patterns/geometry.png");
    background-repeat: repeat;
}

.cartographer-pattern {
    background-image: url("/assets/images/patterns/cartographer.png");
    background-repeat: repeat;
}
