<div class="dialog-header">
    {{ 'user.disable.title' | translate }}
    <button mat-icon-button mat-dialog-close type="button">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="dialog-body">
    <app-callout icon="warning" type="danger">
        {{ 'user.disable.warning' | translate }}
    </app-callout>
    <div class="input-container">
        <div class="input-label">
            {{ 'input.account' | translate }}
        </div>
        <div class="input-static-value">
            {{ user.email }}
        </div>
    </div>
</div>
<div class="dialog-actions">
    <button mat-flat-button mat-dialog-close type="button">
        {{ 'button.cancel' | translate }}
    </button>
    <button mat-flat-button color="warn" type="button" (click)="disable()">
        {{ 'button.disable' | translate }}
    </button>
</div>
<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
